.Card {
    position: absolute;
    font-size: 14px;
    padding: 20px;
    background-color: #fafafa; /* gray 50 */
    border-radius: 3px;
    box-shadow: 1px 1px 3px #999999;
    box-sizing: border-box;
    cursor: pointer;
}

.Card:hover {
    box-shadow: 1px 1px 9px #519657; /* green 300 dark */
}

.Card.selected {
    background-color: #b2fab4; /* green 300 light */
}

.Card.fake {
    background-color: rgba(255,255,255,0.3);
    box-shadow: none;
    border: none;
}